<%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
<%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>

<section class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <% if @challenge_rounds.size > 1 %>
          <!-- Challenge Round Pills  -->
          <ul class="nav nav-pills">
            <% @challenge_rounds.each do |challenge_round| %>
              <li class="nav-item">
                <%= link_to challenge_round.challenge_round,
                            challenge_charts_path(challenge_round_id: challenge_round.id),
                            class: round_pills_tab_classes(challenge_round, @current_round) %>
              </li>
            <% end %>
          </ul>
          <!-- / Challenge Round Pills  -->
        <% end %>

        <header class="section-header col-12">
          <div>
            <h4>Submissions over time</h4>
          </div>
        </header>
        <%= line_chart submissions_vs_time_challenge_charts_path(@challenge, challenge_round_id: @current_round.id) %>

        <header class="section-header col-12">
          <div>
            <h4>Score progression over time</h4>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Primary Score
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
              <a class="dropdown-item" href="#">Secondary Score</a>
            </div>
          </div>
        </header>

        <%= area_chart top_score_vs_time_challenge_charts_path(@challenge, challenge_round_id: @current_round.id) %>
      </div>
    </div>
  </div>
</section>
