<div class="nested-fields card text-left">

  <h5 class="card-header">
    <div class="row">
      <div class="form-group col-6 mt-3">
        <%= f.text_field :challenge_round, class: "form-control" %>
        <%= f.label :challenge_round, "Round Name:" %>
      </div>
      <div class="form-group col-4 mt-2">
        <div class="toggle-switch-container">
          <div class="can-toggle can-toggle--size-small">
            <%= f.check_box :active, { class: 'switch active-switch' } %>
            <%= f.label :active do %>
              <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
              <div class="can-toggle__label-text">Active Round </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group col-2 mt-3">
        <a data-toggle="collapse" href="#collapse-_<%= f.index %>_" id="toggle-expand" class="d-block btn btn-primary">
          Expand
        </a>
      </div>
    </div>
  </h5>

  <div id="collapse-_<%= f.index %>_" class="collapse" data-parent="#rounds">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-6">
          <%= f.label :minimum_score, "Prior Round Min Score" %>
          <%= f.text_field :minimum_score, class: "form-control", placeholder: 'No limitations' %>
        </div>

        <% unless @challenge.secondary_sort_order == :not_used %>
          <div class="form-group col-6">
            <%= f.label :minimum_score_secondary, "Prior Round Min Secondary Score" %>
            <%= f.text_field :minimum_score_secondary, class: "form-control", placeholder: 'No limitations' %>
          </div>
        <% end %>

        <div class="form-group col-6">
          <%= f.label :submission_limit, "Submission Limit" %>
          <%= f.text_field :submission_limit, class: "form-control", placeholder: 'Enter maximum submissions' %>
        </div>

        <div class="form-group col-6">
          <%= f.label :submission_limit_period, "Period" %>
          <%= f.select :submission_limit_period, enum_option_pairs(ChallengeRound, :submission_limit_period), class: "form-control", include_blank: true %>
        </div>

        <div class="form-group col-6">
          <%= f.label :failed_submissions, "Failed submissions allowed" %>
          <%= f.text_field :failed_submissions, class: "form-control" %>
        </div>

        <div class="form-group col-6">
          <%= f.label :parallel_submissions, "Parallel Submissions" %>
          <%= f.text_field :parallel_submissions, class: "form-control" %>
        </div>

        <div class="form-group col-6">
          <%= f.label :ranking_highlight, "Highlighted Rankings" %>
          <%= f.text_field :ranking_highlight, class: "form-control" %>
        </div>

        <div class="form-group col-6">
          <%= f.label :ranking_window, "Ranking window (hours)" %>
          <%= f.text_field :ranking_window, class: "form-control" %>
        </div>

        <div class="form-group col-6">
          <%= f.label :score_precision, "Score Precision" %>
          <%= f.text_field :score_precision, class: "form-control" %>
        </div>

        <% unless @challenge.secondary_sort_order == :not_used %>
          <div class="form-group col-6">
            <%= f.label :score_secondary_precision, "Secondary Score Precision" %>
            <%= f.text_field :score_secondary_precision, class: "form-control" %>
          </div>
        <% end %>

        <div class="form-group col-6">
          <%= f.label :start_dttm, 'Round Start (UTC)' %>
          <%= f.text_field :start_dttm, class: "form-control", data: {controller: 'flatpickr '} %>
        </div>

        <div class="form-group col-6">
          <%= f.label :end_dttm, 'Round End (UTC)' %>
          <%= f.text_field :end_dttm, class: "form-control", data: {controller: 'flatpickr'} %>
        </div>


        <div class="form-group col-12">
          <%= f.label :leaderboard_note_markdown, 'Leaderboard Note' %>
          <%= markdown_editor do |m| %>
            <%= f.text_area :leaderboard_note_markdown, class: "form-control" %>
          <% end %>

        </div>
        <div class="form-group col-6">
          <% if current_participant.admin? && f.object.persisted? %>
            <span>Round ID: <%= f.object.id %></span>
          <% end %>

          <% if f.object.persisted? && @challenge.submissions.where(challenge_round_id: f.object.id).present? %>
            <span class='pull-right'>
      <%= pluralize(@challenge.submissions.where(challenge_round_id: f.object.id).count, 'submission') %>
             </span>
          <% else %>
            <%= link_to_remove_association "remove", f, class: 'pull-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
